includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Laravel
        - src/Symfony
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Call to an undefined method Sentinel\\Console\\SentinelApplication::add\(\)#'
